@model ManageTalkView

<h3><strong>@Model.Talk.StartsAt.ToString("dd MMMM")</strong> <br /><small>@Model.Talk.Name</small></h3>

<form method="post">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Информация о спикере и выступлении
		</div>
		<div class="panel-body">
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerEmail" class="control-label">Электронная почта</label>
				<input asp-for="Command.SpeakerEmail" type="email" class="form-control" />
				<span asp-validation-for="Command.SpeakerEmail" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerName" class="control-label">ФИО</label>
				<input asp-for="Command.SpeakerName" type="text" class="form-control" />
				<span asp-validation-for="Command.SpeakerName" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerAbout" class="control-label">Комментарий</label>
				<input asp-for="Command.SpeakerAbout" type="text" class="form-control" />
				<span asp-validation-for="Command.SpeakerAbout" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerPhone" class="control-label">Телефон</label>
				<input asp-for="Command.SpeakerPhone" type="tel" class="form-control" />
				<span asp-validation-for="Command.SpeakerPhone" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerFacebook" class="control-label">Ссылка на профиль на Facebook</label>
				<input asp-for="Command.SpeakerFacebook" type="url" class="form-control" />
				<span asp-validation-for="Command.SpeakerFacebook" class="help-block"></span>
			</div>
			@if (Model.Command.SpeakerPhoto != null)
			{
				<div class="form-group has-feedback">
					<img src="~/images/ts-meetup.png" alt="пример фото" />
				</div>
			}
			<div class="form-group has-feedback">
				<label asp-for="Command.SpeakerPhoto" class="control-label">Фото для афиши</label>
				<input asp-for="Command.SpeakerPhoto" type="file" class="form-control" />
				@*<span asp-validation-for="Command.SpeakerPhoto" class="help-block"></span>*@
			</div>
		</div>
		<div class="panel-body">
			<div class="form-group has-feedback">
				<label asp-for="Command.TalkStartsAt" class="control-label">Дата выступления</label>
				<input asp-for="Command.TalkStartsAt" type="date" class="form-control" />
				<span asp-validation-for="Command.TalkStartsAt" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.TalkName" class="control-label">Название</label>
				<input asp-for="Command.TalkName" type="text" class="form-control" />
				<span asp-validation-for="Command.TalkName" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.TalkComment" class="control-label">Подназвание</label>
				<input asp-for="Command.TalkComment" type="text" class="form-control" />
				<span asp-validation-for="Command.TalkComment" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.TalkShortInfo" class="control-label">Краткий анонс</label>
				<textarea asp-for="Command.TalkShortInfo" class="form-control">
				</textarea>
				<span asp-validation-for="Command.TalkShortInfo" class="help-block"></span>
			</div>
			<div class="form-group has-feedback">
				<label asp-for="Command.TalkFullInfo" class="control-label">Полный анонс</label>
				<textarea asp-for="Command.TalkFullInfo" class="form-control">
				</textarea>
				<span asp-validation-for="Command.TalkFullInfo" class="help-block"></span>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-primary">Обновить информацию</button>
		</div>
	</div>
</form>



<form method="post" asp-action="VerifyPlace">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Подтвердить место проведения
		</div>
		<div class="panel-body">
			<input type="hidden" name="TalkId" value="@Model.TalkId" />
			<div class="form-group has-feedback">
				<label for="PlaceId" class="control-label">Площадка</label>
				<select id="PlaceId" name="PlaceId" class="form-control">
					<option value="">выберите площадку</option>
					@foreach (var place in Model.Places)
					{
						<option value="@place.Id">@place.Name (@place.Address)</option>
					}
				</select>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-info">Утвердить место</button>
		</div>
	</div>
</form>

<form method="post" asp-action="Approve">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Утвердить мероприятие
		</div>
		<div class="panel-body">
			<input type="hidden" name="TalkId" value="@Model.TalkId" />
			<div class="well">После утверждения спикер потеряет возможность вносить изменения в информацию о мероприятии.</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-info">Утвердить</button>
		</div>
	</div>
</form>


<form method="post" asp-action="Publish">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Опубликовать мероприятие
		</div>
		<div class="panel-body">
			<input type="hidden" name="TalkId" value="@Model.TalkId" />
			<div class="well">Информация о мероприятии будет размещена в Timepad, и по согласованному расписанию будут сделаны посты на Facebook.</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-success">Опубликовать</button>
		</div>
	</div>
</form>


<form method="post" asp-action="Report">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Опубликовать отчёт
		</div>
		<div class="panel-body">
			<input type="hidden" name="TalkId" value="@Model.TalkId" />
			<textarea name="Report">
			</textarea>
		</div>
		<div class="panel-footer">
			<button class="btn btn-info">Опубликовать</button>
		</div>
	</div>
</form>